<MNavigationDrawer Id="nav-drawer"
                   Right="RTL"
                   App
                   Floating
                   Width="300">
    <NavigationList />
    <div class=pt-12></div>
</MNavigationDrawer>


@code {

    [Parameter]
    public bool RTL { get; set; }

}
