@using Masa.Docs.Shared.ApiGenerator
@namespace Masa.Docs.Shared.Components

@if (Data is not null && Data.Any())
{
    <section id="@Name.ToLower()">
        <h2 class="m-heading text-h4 text-sm-h4 mb-3">@Name.ToUpperFirst()</h2>

        <div>
            <div class="d-flex mb-2">
                <AppTextField @bind-Value="filter" Icon="mdi-magnify" Clearable Label="Filter"></AppTextField>
            </div>

            <ApiDatatable Field="@Name" Data="Data" Filter="@filter" />
        </div>
    </section>
}

@code {

    [Parameter]
    [EditorRequired]
    public string Name { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<ParameterInfo>? Data { get; set; }

    private string filter;

}
