<MIcon>mdi-message</MIcon>
<span>10 unread messages</span>
<MSpacer></MSpacer>
<MIcon>mdi-wifi-strength-4</MIcon>
<MIcon>mdi-signal-cellular-outline</MIcon>
<MIcon>mdi-battery</MIcon>
<span>12:30</span>

