@page "/"

<h1>Hello, world!</h1>

<img src="_content/Masa.Docs.Shared/imgs/2021.3.2.png" />

@((MarkupString)str)

@code {

    string str = @"
    <div>there is the origin markup</div>
    <custom-element />
    <div>other content</div> 
    <custom-element />
    <div>other content</div> 
    ";

}